*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #024242;
}
.banner{
    background-color: #000000;
    color: #f5f5f5;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
    padding: 50px;
}
h1{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin: 50px;
    
}
.intro{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 20px;
    color: #f5f5f5;
    line-height: 35px;
}
a{
    background-color: #024d72;
    color: #f5f5f5;
    text-decoration: none;
    margin: 0 100px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}
a:hover{
    text-decoration: underline;
    color: #f5f5f5;
}
a:active{
    color: #000000;
    background-color: #03334c;
}
h4{
    font-family: sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    margin: 20px;
}
button{
    display:block;
    background-color: #000000;
    color: #f5f5f5;
    text-decoration: none;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #919191;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
button:hover{
    text-decoration: underline;
    color: #f5f5f5;
}
button:active{
    color: #f5f5f5;
    background-color: #000000;
}