*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{  
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 2;
    margin: 10px 0;
    text-align: center;
}
.banner{
    background-color: #8a2be2;
    text-align: center;
    margin:  auto;
    padding: 40px;
}
.note{
    
    background-color: black;
    color: #f5f5f5;
    padding: 15px;
    width: 600px;
    margin: auto;
    border-radius: 20px;
}